@*Dùng viewbag để thể hiện tổng số lượng sản phẩm có trong giỏ hàng và tổng tiền*@
<div class="giohang">
    <a href="@Url.Action("XemGioHang","GioHang")"><img src="~/Content/css/images/shopping-cart-of-checkered-design (1).png"/></a>
</div>
