
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}
<head>
    @*<link href="~/Content/css/chinhsach.css" rel="stylesheet">*@
</head>
<body>
    <div class="contain">
        <div class="header"><b>Quy Định - Chính Sách</b></div>
        <hr>
        <br>
        <div class="NoiDung">
            <div class="Baohanh">
                <ul class="title1">
                    <li><h2><u>Chính sách bảo hành</u></h2></li>
                </ul>
                <h4>CNTT06-K60 Khẳng định Bảo hành, Hậu mãi tốt nhất:</h4>
                <ol class="nd">
                    <li>Thời gian BH chỉ 3-5 ngày (BHV).</li>
                    <li>Bảo hành lần 3 đổi máy khác (Duy nhất tại VN).</li>
                    <li>Khách hàng có thể BH tại mọi chi nhánh (Duy nhất tại VN).</li>
                    <li>Hỗ trợ phần mềm từ xa: 8h30 đến 20h30 (Duy nhất tại VN).</li>
                    <li>Gói bảo hành mua thêm (BHV) RẺ nhất.</li>
                    <li>Tất cả các cửa hàng đều có số điện thoại phản ánh chất lượng dịch vụ.</li>
                </ol>
                <h4>
                    Quý khách sẽ được tặng ngay 1 triệu, nếu nhân viên phục vụ không tốt, không làm đúng quy định BH.

                </h4>
                <ol>
                    <h3><li class="title12">Thời gian đổi máy, bao test, chờ BH:</li></h3>
                    <h3>BH thường:</h3>
                    <p class="ndbh">
                        Quý khách được đổi máy (Nếu có lỗi của nhà sản xuất): <span>7 ngày</span>  đối với máy cũ, 15 ngày đối với máy mới.

                        Tặng thêm <span>15 ngày</span> BH đối với máy ship xa. Thời gian chờ BH máy là <span>5-7 ngày</span> làm việc.

                        Đổi máy khác nếu bảo hành phần cứng lần 3. Không hỗ trợ nhập lại máy
                    </p>
                    <h3>BH Vàng:</h3>
                    <p class="ndbh">
                        Quý khách được đổi máy (Nếu có lỗi của nhà sản xuất): <span>15 ngày</span> đối với máy cũ, <span>30 ngày</span> đối với máy mới.

                        Tặng thêm <span>30 ngày</span> BH đối với máy ship xa. Thời gian chờ BH máy là <span>3-5 ngày</span> làm việc.

                        Đổi máy khác nếu bảo hành phần cứng lần 3. Hỗ trợ nhập lại máy với giá cao.
                    </p>

                    <h3><li class="title12">Nội dung được BH:</li></h3>
                    <h3>BH thường:</h3>
                    <p class="ndbh">
                        Bảo hành 6 (máy cũ) - 12 (máy mới) tháng phần cứng <span>(Trừ nguồn, màn hình, PIN, Camera, Vân tay).</span><br>

                        Hỗ trợ giá thay thế, sửa chữa linh kiện tối đa bằng công thay thế, sửa chữa <span>(50-150K)</span>
                    </p>
                    <h3>BH Vàng:</h3>
                    <p class="ndbh">
                        Bảo hành 6 (máy cũ) - 12 (máy mới) tháng phần cứng, <span>cả nguồn, màn hình, PIN, Camera, Vân tay </span>(Trừ các vết cấn, móp, cong, vào nước - khách hàng được mở máy kiểm tra, các vết xước vẫn được BH).

                        Hỗ trợ giá thay thế, sửa chữa linh kiện lên đến <span>1.000.000</span> cụ thể như sau:

                        <br>- Hỗ trợ khách 100% BHV (Tối đa bằng giá sửa chữa, thay thế) nếu máy rủi ro trong 1 tháng đầu.

                        <br>- Hỗ trợ khách 50% BHV (Tối đa bằng giá sửa chữa, thay thế) nếu máy rủi ro trong 3 tháng đầu.

                        <br>- Hỗ trợ khách 30% BHV (Tối đa bằng giá sửa chữa, thay thế) nếu máy rủi ro trong 6 tháng đầu.
                    </p>
                </ol>
            </div>
            <hr>
            <br>
            <div class="Vanchuyen">
                <ul class="title1">
                    <li>
                        <h2>
                            <u>
                                Chính sách vận chuyển
                            </u>
                        </h2>
                    </li>
                    <p>
                        Để phục vụ quý khách hàng được tốt nhất CNTT06 mở dịch vụ  Ship hàng cho tất cả các khách hàng có nhu cầu mua hàng từ xa. Với ưu điểm thủ tục nhanh chóng và thuận tiện, CNTT06 hi vọng sẽ làm hài lòng khách hàng nhất có thể.
                    </p>
                </ul>
                <ol>
                    <h3 class="chuyen">
                        <li>Đối với khách hàng thuộc nội thành Hà Nội bán kính &lt;5Km.</li>
                    </h3>
                    <ul>
                        <li class="nho5">Hỗ trợ Ship COD trên toàn quốc.</li>
                        <li class="nho5">Nhận hàng, thanh toán tại nhà.</li>
                        <li class="nho5">Tích kiệm thời gian, chi phí. </li>
                        <li class="nho5">Chỉ sau 30p - 1h quý khách sẽ nhận ngay sản phẩm đã đặt hàng.</li>
                        <li class="nho5">Được nhân viên tư vấn và hướng dẫn sử dụng cũng như các chế độ bảo hành phù hợp</li>

                    </ul>
                    <h3 class="chuyen"><li>Đối với khách hàng ở xa: Ngoại thành Hà Nội và các tỉnh thành trên toàn quốc.</li></h3>
                    <ul>
                        <li class="nho5">Hỗ trợ Ship ở bất cứ đâu.</li>
                        <li class="nho5">Thanh toán &gt; giao hàng &gt; nhận hàng.</li>
                        <li class="nho5">MobileCity kết hợp với ViettelPost vận chuyển hàng hóa đảm bảo an toàn, tin cậy. </li>
                        <li class="nho5">Thời gian nhận máy chỉ từ 1 - 3 ngày tùy vào khoảng cách địa lý. </li>
                    </ul>
                </ol>
            </div>
            <hr>
            <br>
            <div class="dotra">
                <ul class="title1">
                    <li><h2><u>Quyền lợi của khách hàng khi mua hàng tại CNTT06-K60</u></h2></li>
                </ul>
                <ol>
                    <h3 class="chuyen1"><li>Đối với máy mới:</li></h3>
                    <ul>
                        <li class="nho5">Bảo hành 12 tháng trừ nguồn và màn hình.</li>
                        <li class="nho5">Đổi mới hoặc hoàn tiền nếu có lỗi của NSX trong 15 ngày đầu tiên</li>
                        <li class="nho5">Hỗ trợ phần mềm trọn đời máy.</li>
                        <li class="nho5">Tặng kèm khách hàng Voucher giảm giá áp dụng cho mua máy và sửa chữa.</li>
                        <li class="nho5">Hỗ trợ phần mềm tối đa trọn đời máy. </li>
                    </ul>
                    <h3 class="chuyen1"><li>Đối với máy cũ:</li></h3>
                    <ul>
                        <li class="nho5">Bảo hành 6 tháng trừ nguồn và màn hình.</li>
                        <li class="nho5">Đổi mới hoặc hoàn tiền nếu có lỗi của NSX trong 15 ngày đầu tiên</li>
                        <li class="nho5">Hỗ trợ phần mềm trọn đời máy.</li>
                        <li class="nho5">Hỗ trợ phần mềm tối đa trọn đời máy. </li>
                    </ul>
                </ol>
            </div>



            <hr>
            <br>
            <div class="Vanchuyen">
                <ul class="title1">
                    <li><h2><u>Chính sách bảo mật thông tin</u></h2></li>
                    <p>Trong một số trường hợp CNTT06-K60 sẽ yêu cầu Quý khách hàng cung cấp, đăng ký thông tin với chúng tôi gồm có (Email, Họ và tên, Số điện thoại liên hệ).</p>
                </ul>
                <h3 class="chuyen">
                    <li>Mục đích thu thập thông tin cá nhân.</li>
                </h3>
                <ul>
                    <li class="nho">
                        Trong một số trường hợp CNTT06-K60 sẽ yêu cầu Quý khách hàng cung cấp, đăng ký thông tin với chúng tôi gồm có (Email, Họ và tên, Số điện thoại liên hệ). Những thông tin này đều được đảm bảo chính xác và họp pháp. CNTT06-K60 không chịu trách nhiệm của thông tin mà Quý khách hàng khai báo.
                    </li>

                </ul>
                <h3 class="chuyen"><li>Sử dụng thông tin cá nhân.</li></h3>
                <ul>
                    <li class="nho">CNTT06-K60 sử dụng thông tin cá nhân của Quý khách hàng với mục đích hợp pháp và chính đáng, đảm bảo tuân thủ đúng mục " Chính sách bảo mật thông tin". Trong một số trường hợp cần thiết CNTT06-K60 sẽ sử dụng những thông tin này để liên hệ với Quý khách hàng.</li>
                </ul>
                <h3 class="chuyen"><li>Chia sẻ thông tin cá nhân.</li></h3>
                <ul>
                    <li class="nho">Những trường hợp về việc sử dụng thông tin cá nhân của Quý khách hàng, MobileCity cam kết sẽ không tiết lộ thông tin cá nhân của Quý khách hàng với bên thứ 3 không có đủ thẩm quyền.</li>
                    <li class="nho">Trong những trường hợp đặc biệt chúng tôi được phép cung cấp thông tin của Quý khách hàng cho cơ quan pháp luật, trường hợp mà thông tin của này là quyền lợi chính đáng của MobileCity trước pháp luật, và các tình huống nhằm đảm bảo quyền và sự an toàn cho những cá nhân khác.</li>
                </ul>
                <h3 class="chuyen"><li>Truy xuất thông tin cá nhân.</li></h3>
                <ul>
                    <li class="nho">Quý khách hàng có quyền chỉnh sửa thông tin cá nhân của mình theo đường dẫn mà chúng tôi cung cấp.</li>
                </ul>
                <h3 class="chuyen"><li>Bảo mật thông tin cá nhân.</li></h3>
                <ul>
                    <li class="nho">Chúng tôi cam kết bảo mật thông tin cá nhân của bạn bằng mọi cách thức có thể. Chúng tôi sẽ sử dụng nhiều công nghệ bảo mật thông tin khác nhau nhằm bảo vệ thông tin này không bị truy lục, sử dụng hoặc tiết lộ ngoài ý muốn.</li>
                    <li class="nho">Chúng tôi khuyến cáo bạn nên bảo mật các thông tin liên quan đến mật khẩu truy xuất của bạn và không nên chia sẻ với bất kỳ người nào khác. Nếu sử dụng máy tính chung nhiều người, bạn nên đăng xuất, hoặc thoát hết tất cả cửa sổ Website đang mở.</li>
                </ul>

            </div>

        </div>
    </div>



    <div class="phancuoi">
        <div class="logo">
            <a id="mess" href="https://www.facebook.com/groups/694413421037606"><i class="fab fa-facebook-messenger"></i></a>
        </div>
        <div>
            <a class="lentop" href="#" title="Back to Top">
                <i class="fas fa-arrow-circle-up"></i>
            </a>
        </div>
    </div>


</body>