@using WebBanHang.Models
@model IEnumerable<SanPham>
<div id="menutrai">
    <ul class="menungang">
        <li class="menu1"><a href="@Url.Action("Index","Home")">TRANG CHỦ</a></li>
        <li class="menu1"><a href="#">Điện Thoại</a></li>
        <li class="menu1"><a href="#">SAMSUNG</a></li>
        <li class="menu1"><a href="#">Giới Thiệu</a></li>
        <li class="menu1"><a href="#">LIÊN HỆ</a></li>
        <li class="menu1"><a href="@Url.Action("Dangky","Home")">THANH TOÁN</a></li>

    </ul>
</div>