
@{
    ViewBag.Title = "TinTuc3";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}
<body>
    <div class="all">
        <header>
            <h1 style="color:black">Vsmart Bee Lite điện thoại thông minh giá rẻ chỉ 600k của nhà Vinsmart</h1>
            <div class="nguon"> <i>Tiêu Duy - 11:47 18/11/2020</i></div>
        </header>

        <article>

            <div class="menu">
                <a href="@Url.Action("TinTuc1","TinTuc")">
                    <div>
                        <img src="~/Content/css/images/OnePlus.jpg" alt="">
                        <h3>OnePlus triển khai trạm sạc tại sân bay với thông báo lân cận cho người dùng</h3>
                    </div>
                </a>
                <a href="@Url.Action("TinTuc2","TinTuc")">
                    <div>
                        <img src="~/Content/css/images/ManHinhIP12.jpg" alt="">
                        <h3>Màn hình iPhone 12 Pro Max nhận được đánh giá cao nhất từ trước đến nay của DisplayMate</h3>
                    </div>
                </a>
                <a href="@Url.Action("TinTuc3","TinTuc")">
                    <div>
                        <img src="~/Content/css/images/Vsmart.jpg" alt="">
                        <h3>Vsmart Bee Lite điện thoại thông minh giá rẻ chỉ 600k của nhà Vinsmart</h3>
                    </div>
                </a>
                <a href="@Url.Action("TinTuc4","TinTuc")">
                    <div>
                        <img src="~/Content/css/images/Apple.jpg" alt="">
                        <h3>Apple sẽ cho ra mắt iPhone SE Plus thay thế iPhone Mini hiện tại vào năm sau</h3>
                    </div>
                </a>
            </div>

            <article class="baiviet">
                <br>

                Vsmart Bee Lite là sản phẩm hợp tác giữa VinSmart với Tập đoàn Qualcomm nhằm thực hiện chỉ đạo của Bộ Thông tin - Truyền thông về việc thúc đẩy mục tiêu phổ cập điện thoại thông minh vào năm 2025 tại Việt Nam.
                <br>
                <br>
                <b>Thông số kỹ thuật của Vsmart Bee Lite</b>
                <br>
                <br>
                Vsmart Bee Lite sở hữu chip Qualcomm Snapdragon 215, hệ điều hành Android Go đảm bảo khả năng xử lý ứng dụng mượt mà với các ứng dụng cơ bản.
                <br>
                <br>
                <img src="~/Content/css/images/vsmart-bee-lite-1.jpg" alt="">
                <br>
                <br>
                Sản phẩm được VinSmart đồng trợ giá với Viettel và phân phối đầu tiên qua mạng viễn thông Viettel Telecom với mức giá thấp chưa từng có, chỉ còn 600.000 đồng/sản phẩm.
                <br>
                <br>
                <b>Mục tiêu phổ cập Smart Phone đến toàn bộ người dùng điện thoại Việt Nam</b>
                <br>
                <br>
                Trong thời gian tới, Vinsmart sẽ tiếp tục hợp tác sản xuất điện thoại thông minh với các nhà mạng trong nước và quốc tế. Người tiêu dùng sẽ tiếp tục được trải nghiệm những sản phẩm Vsmart có giá cả hợp lý nhất cùng những trải nghiệm công nghệ tiên tiến nhất.
                <br>
                Theo thông tin từ Thị trường quảng cáo số Việt Nam của Adsota, tỉ lệ người dùng điện thoại thông minh tại Việt Nam năm 2020 đạt 44,9%, tức 10 người thì có 4,5 người sử dụng điện thoại thông minh.
                <br>
                <br>
                <img src="~/Content/css/images/vsmart-bee-lite-2.jpg" alt="">
                <br>
                <br>
                VinSmart Bee Lite ra mắt sẽ góp phần đẩy nhanh tiến độ phổ cập điện thoại thông minh, làm cơ sở cho việc tắt sóng công nghệ cũ 2G trong thời gian tới.
                <br>
                Vsmart Bee Lite vẫn được áp dụng chính sách bảo hành vượt trội của VinSmart lên đến 18 tháng và 1 đổi 1 trong 101 ngày, ưu tiên cho những khách hàng đang dùng các sản phẩm điện thoại thông minh dùng băng tần 2G/3G.
            </article>

        </article>
    </div>

</body>
