
@{
    ViewBag.Title = "TinTuc1";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}
<body>
    <div class="all">
        <header>
            <h1 style="color: black">OnePlus triển khai trạm sạc tại sân bay với thông báo lân cận cho người dùng</h1>
            <div class="nguon"> <i>Tiêu Duy - 17:16 22/11/2020</i></div>
        </header>

        <article>

            <div class="menu">
                <a href="@Url.Action("TinTuc1","TinTuc")">
                    <div>
                        <img src="~/Content/css/images/OnePlus.jpg" alt="">
                        <h3>OnePlus triển khai trạm sạc tại sân bay với thông báo lân cận cho người dùng</h3>
                    </div>
                </a>
                <a href="@Url.Action("TinTuc2","TinTuc")">
                    <div>
                        <img src="~/Content/css/images/ManHinhIP12.jpg" alt="">
                        <h3>Màn hình iPhone 12 Pro Max nhận được đánh giá cao nhất từ trước đến nay của DisplayMate</h3>
                    </div>
                </a>
                <a href="@Url.Action("TinTuc3","TinTuc")">
                    <div>
                        <img src="~/Content/css/images/Vsmart.jpg" alt="">
                        <h3>Vsmart Bee Lite điện thoại thông minh giá rẻ chỉ 600k của nhà Vinsmart</h3>
                    </div>
                </a>
                <a href="@Url.Action("TinTuc4","TinTuc")">
                    <div>
                        <img src="~/Content/css/images/Apple.jpg" alt="">
                        <h3>Apple sẽ cho ra mắt iPhone SE Plus thay thế iPhone Mini hiện tại vào năm sau</h3>
                    </div>
                </a>
            </div>

            <article class="baiviet">
                <br>

                Hiện tại, trạm sạc OnePlus chỉ là một chương trình thử nghiệm thử nghiệm ở Ấn Độ. Hiện tại các nhà ga đã có sẵn tại sân bay Bangalore và nhiều hơn nữa sẽ sớm ra mắt tại sân bay Delhi. Các trạm sạc sẽ được trang bị WARP Charge 30 cổng USB, đây là một tin tốt cho những người dùng OnePlus đang cần sạc thiết bị một cách nhanh chóng.
                <br>
                <br>
                <b>Thông tin chi tiết</b>
                <br>
                <br>
                Khái niệm đằng sau trạm sạc OnePlus mới khá dễ hiểu - bạn thấy mình đang ở sân bay cần nạp điện nhanh và điện thoại của bạn chỉ cần rung để hướng dẫn bạn đến một trạm sạc thuận tiện gần đó. Tính năng này lần đầu ra mắt ở Ấn Độ và “tính năng” thực sự là một cách mô tả chính xác về nó, vì các trạm sạc được đề cập sẽ sử dụng đèn hiệu không dây để thông báo cho các thiết bị OnePlus gần đó.
                <br>
                <br>
                <img src="~/Content/css/images/oneplus-charge-station-1.jpg" alt="">
                <br>
                <br>
                Điều này cũng yêu cầu hỗ trợ phần mềm trên thiết bị của người dùng và OnePlus ban đầu đang triển khai nó cho loạt thiết bị OnePlus 8, OnePlus 7 và Nord, với sự hỗ trợ của dòng OnePlus 6. Khi một điện thoại được hỗ trợ phát hiện một bốt sạc điện bật đèn hiệu ở gần, nó sẽ kích hoạt thông báo. Nó có thể bị tắt tiếng, nếu bạn đang ở sân bay và không muốn sạc. Thông báo hoàn tất với chỉ đường đến nhà ga. Đây không phải là bất cứ điều gì quá lạ mắt, như điều hướng trong nhà, mà là các tín hiệu văn bản khá đơn giản và ước tính khoảng cách sơ bộ. Mặc dù điều này có thể hơi khó chịu đối với những người đam mê điều hướng trong nhà mong muốn trải nghiệm những thứ như công nghệ UWB (Ultra-wideband) ưa thích, nhưng việc OnePlus sử dụng một công nghệ thông thường hơn, theo phong cách đèn hiệu quảng cáo để hỗ trợ một lượng lớn người dùng hiện có.
                <br>
                <br>
                <img src="~/Content/css/images/oneplus-charge-station-2.jpg" style="width: 30%; height: 400px;" alt="">
                <br>
                <br>
                Hiện tại, trạm sạc OnePlus chỉ là một chương trình thử nghiệm ở Ấn Độ. Hiện tại các nhà ga đã có sẵn tại sân bay Bangalore và nhiều hơn nữa sẽ sớm ra mắt tại sân bay Delhi. Các Trạm sạc sẽ được trang bị WARP Charge 30 cổng USB, đây là một tin tốt cho những người dùng OnePlus đang vội vàng. Tuy nhiên, từ âm thanh của mọi thứ, sẽ không có cáp thực tế để sử dụng, vì vậy bạn cần phải có sẵn cáp màu đỏ độc quyền của mình. Đó là một chút phức tạp, rắc rối. Mặc dù cáp USB bình thường cũng có thể hoạt động cho cả thiết bị OnePlus và không phải OnePlus, nhưng điều đáng chú ý là bộ sạc WARP đôi khi gây ra sự cố khi được sử dụng để sạc “USB-spec” thông thường. Một số báo cáo khẳng định rằng các Trạm sạc OnePlus cũng được trang bị ổ cắm điện thông thường, điều này thật tuyệt.
                <br>
                <br>
                <b>Tương lai của các trạm sạc OnePlus</b>
                <br><br>
                Tiện ích lớn trong những điều nhỏ nhặt, mặc dù đây có vẻ như là một động thái PR, nhưng tiện ích của nó có một chút hạn chế ngay cả vào những ngày đẹp trời và năm 2020 thì hoàn toàn ngược lại. Tuy nhiên, chúng ta phải ngưỡng mộ sự lạc quan của OnePlus rằng mọi thứ sẽ trở lại bình thường sớm hơn là muộn và các chủ sở hữu sản phẩm OnePlus háo hức sẽ bắt đầu trải nghiệm tràn ngập với bốt sạc điện tiện lợi từ các sân bay.
            </article>

        </article>

        <div class="phancuoi">
            <div class="logo">
                <a id="mess" href="https://www.facebook.com/groups/694413421037606"><i class="fab fa-facebook-messenger"></i></a>
            </div>

            <div>
                <a class="lentop" href="#" title="Back to Top">
                    <i class="fas fa-arrow-circle-up"></i>
                </a>
            </div>
        </div>
    </div>

</body>